/* MAIN VARIABLES FOR PAGE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --mainBackground:  #f0fbff;
  --secondBackground: #acdcee;
  --thirdBackground: #0D3B66;
  --thirdFont: #860021;
  --mainFont: #475053;
  --secondFont: #2e94b9;
  --darkColor: black;
  --lightColor: white;
  --mainFontFamily: 'Poppins', sans-serif;
  --gradient: linear-gradient(to left top, #0D3B66 10%, #860021 90%) !important;
}
/* CONTACT ME PAGE START HERE */
#aLinks a{
    text-decoration: none;
    color: var(--mainFont)
}

#contactContainer{
  font-family: var(--mainFontFamily);
}

#contactIcons:hover{
  transform: scale(1.5);
}
/* CONTACT ME PAGE END HERE */

/* CONTACT ME PAGE MEDIA QUERIES START*/
@media (max-width: 1200px) {
  #contactContainer {
    font-size: 1.5vw;
  }
}

@media (max-width: 992px) {
  #contactContainer {
    font-size: 1.75vw;
  }
}

@media (max-width: 768px) {
  #contactContainer {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  #contactContainer {
    font-size: 2.5vw;
  }
}

/* CONTACT ME PAGE MEDIA QUERIES END*/