/* MAIN VARIABLES FOR PAGE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --mainBackground:  #f0fbff;
  --secondBackground: #acdcee;
  --thirdBackground: #0D3B66;
  --thirdFont: #860021;
  --mainFont: #475053;
  --secondFont: #2e94b9;
  --darkColor: black;
  --lightColor: white;
  --mainFontFamily: 'Poppins', sans-serif;
  --gradient: linear-gradient(to left top, #0D3B66 10%, #860021 90%) !important;
}

/* PROJECT PAGE START HERE */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .big-card {
    width: 60%;
    height: 35rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    border: 4px solid transparent;
    transition: transform 0.3s ease;
  }
  
  .big-card img{
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }
  
  .big-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .big-card h2, .big-card p {
    color: var(--lightColor);
  }
  
  .big-card:hover,
  .small-card:hover {
    transform: scale(1.05);
    border-color: var(--secondFont);
  }
  
  #pageButton {
    border: 2px solid var(--lightColor);
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--lightColor) !important;
    text-decoration: none;
    transition: all .4s ease;
  }
  
  #pageButton:hover, 
  #pageButton:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: var(--lightColor) !important;
    border: 5px solid var(--darkColor) !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }
  /* Small Card Styles */
  .small-card {
    width: 25%;
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin: 1rem 2rem 2rem 2rem;
    border: 4px solid transparent;
    transition: transform 0.3s ease;
  }
  
  .small-card img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    border-color: var(--secondFont);
  }
  
  .small-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* PROJECT PAGE END HERE */

  /* PROJECT PAGE MEDIA QUERIES START*/
@media (max-width: 1200px) {
  .main-container {
    padding: 40px;
  }

  .big-card {
    width: 70%;
    height: 30rem;
  }

  .small-card {
    width: 30%;
    height: 18rem;
    margin: 1rem;
  }
}

@media (max-width: 992px) {
  .main-container {
    padding: 30px;
  }

  .big-card {
    width: 80%;
    height: 28rem;
  }

  .small-card {
    width: 40%;
    height: 16rem;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 20px;
  }

  .big-card {
    width: 90%;
    height: 26rem;
  }

  .small-card {
    width: 60%;
    height: 14rem;
  }
}

@media (max-width: 576px) {
  .main-container {
    padding: 10px;
  }

  .big-card {
    width: 100%;
    height: 24rem;
  }

  .small-card {
    width: 80%;
    height: 12rem;
  }
}

  /* PROJECT PAGE MEDIA QUERIES END*/