:root{
    --mainBackground:  #f0fbff;
    --secondBackground: #acdcee;
    --mainFont: #475053;
    --secondFont: #2e94b9;
    --darkColor: black;
    --lightColor: white;
}

#aLinks a{
    text-decoration: none;
    color: var(--mainFont)
}

#contactIcons:hover{
    transform: scale(1.5);
}