/* MAIN VARIABLES FOR PAGE */
:root{
  --mainBackground:  #f0fbff;
  --secondBackground: #acdcee;
  --mainFont: #475053;
  --secondFont: #2e94b9;
  --darkColor: black;
  --lightColor: white;
  --mainFontFamily: 'Georgia', sans-serif;
}

/* Body Style */
body{
    background-color: var(--mainBackground);
}